body {
  background-image: url("../img/e7XFiw.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-login {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
}
.wrap-login {
  width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 15px midnightblue;
}

.wrap-input {
  margin-top: 50px;
}

.wrap-input-text {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 100%;
  height: 40px;
  border: 0.5px solid black;
  padding: 0 10px;
}

.input {
  margin-top: 10px;
}

span {
  font-size: 20px;
}

.login-form {
  display: block;
  text-align: center;
  font-size: 50px;
  color: rgb(59 135 241);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.text-right {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.text-right a:hover {
  color: red;
}

a {
  text-decoration: none;
}

.btn-login {
  width: 75%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.login-form-btn {
  width: 100%;
  line-height: 50px;
  border-radius: 25px;
  background-color: rgb(59 135 241);
  border: none;
  font-size: 20px;
  text-align: center;
}

.login-form-btn:active {
  background-color: black;
  color: rgb(59 135 241);
}

.login-other {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
  margin-top: 75px;
}

.img-icon {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  font-size: 30px;
}
